.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* FROM */

form {
   width: 50%;
    margin: 0 auto; 
    margin-bottom: 50px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    flex: 1 1 30%;
    margin-bottom: 30px;
    margin-right: 10px; 
}

.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }